* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  color: #262d3d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.key-code {
  font-size: 10rem;
}

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-message {
  background-color: white;
  width: 500px;
  padding: 2rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  width: 100%;
}
.event-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: .2s;
}
.event-container:hover {
  transform: scale(1.05);
}
.event-title {
  background-color: #204ecf;
  color: white;
  font-size: 1rem;
  padding: .5rem;
}
.event-value {
  font-size: 2rem;
  padding: 3rem;
}
.history-events-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(70px, 1fr));
  grid-template-rows: repeat(2, minmax(70px, 1fr));
  gap: 1.2rem;
  padding: .7rem;
}
.history-key {
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #262d3d;
}
.history-key:hover {
  color: #204ecf;
  border: 2px solid #204ecf;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .events-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 760px) {
  .events-grid {
    grid-template-columns: 1fr;
  }
}