@font-face {
	font-family: 'avenir_lt_std95_black', sans-serif;
    src: url('./fonts/avenir_lt_std_95_black-webfont.woff2') format('woff2'),
         url('./fonts/avenir_lt_std_95_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aeonikbold', sans-serif;
    src: url('./fonts/aeonik-bold-webfont.woff2') format('woff2'),
         url('./fonts/aeonik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aeoniklight';
    src: url('./fonts/aeonik-light-webfont.woff2') format('woff2'),
         url('./fonts/aeonik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aeonikregular', sans-serif;
    src: url('./fonts/aeonik-regular-webfont.woff2') format('woff2'),
         url('./fonts/aeonik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}