* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 10px;
}
body {
	background: linear-gradient(180deg, #333333 0%, #090707 11.98%);
	max-width: 1200px;
	margin: 0 auto;
}

/* ---------- Header -------------- */
#header-div {
	font-family: 'aeonikregular', sans-serif;
	justify-content: space-between;
	height: 100px;
	margin: 0 auto;
}
#header-div > a {
	display: flex;
	align-items: center;
	font-size: 2.5rem;
}
.logo-title {
	font-family: 'avenir_lt_std95_black', sans-serif;
	padding-left: 10px;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-menu > ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.nav-menu a {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	padding: 1rem 2rem;
}
.join-btn {
	border: 1px solid white;
	border-radius: 6px;
	padding: 17px 30px;
	font-size: 1.4rem;
	margin-left: 2rem;
	cursor: pointer;
}
.join-btn:hover {
	background-color: #3775ED;
}

/* ----------- Home ------------------ */
#header-div,
#home-div,
#features,
#reviews,
#join,
#contact {
	display: flex;
	align-items: center;
	color: white;
}
#home-div {
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100vh - 100px);
}
h1 {
	font-family: 'aeonikbold', sans-serif;
	font-size: 4rem;
}
h1 > span {
	color: #3775ED;
}
#home-div > p {
	font-family: 'aeoniklight', sans-serif;
	color: #E5E5E5;
	font-size: 2.2rem;
}
.btn {
	font-size: 1.4rem;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 6px;
	padding: 15px 45px;
	margin: 2rem;
	cursor: pointer;
}
.btn:hover {
	background-color: #3775ED;
}
.buttons-container {
	display: flex;
	max-width: 50vw;
	justify-content: space-between;
	align-items: center;
}
.img-div > img {
	max-width: 100%;
}

/* --------Features ---------- */
#features {
	flex-direction: column;
	justify-content: space-around;
	max-height: 100vh;
	height: 100vh;
	margin: 0 auto;
}
h2 {
	font-family: 'aeonikbold', sans-serif;
	font-size: 3.5rem;	
}
#features > p {
	font-family: 'aeoniklight', sans-serif;
	font-size: 2.2rem;
	text-align: center;
}
.websites-div {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.website:first-of-type {
	background-color: #C96408;
}
.website {
	font-family: 'aeoniklight', sans-serif;
	text-align: center;
	background-color: #7937BB;
	width: 32%;
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 1.6rem;
	border-radius: 6px;
	position: relative;
}
.website:last-of-type {
	background-color: #3775ED;
}
.website > img {
	width: 62px;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.website > p {
	font-family: 'aeonikregular', sans-serif;
	font-size: 2rem;
}
.left-selection,
.right-selection {
	display: none;
}
.website:hover .left-selection {
	display: block;
	position: absolute;
	left: -5%;
	top: -15%;
}
.website:hover .right-selection {
	display: block;
	position: absolute;
	right: -5%;
	top: -15%;
}
.tools {
	position: relative;
	font-family: 'aeoniklight', sans-serif;
	font-size: 2rem;
	background-color: #1A1919;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 100%;
}
.tools h2 {
	margin-bottom: 20px;
}
.technologies {
	position: absolute;
}
.technologies img {
	max-width: 100%;
}
.tech-1 {
	top: 20px;
	right: 40%;
}
.tech-2 {
	top: 5%;
	right: 12%;
}
.tech-3 {
	top: 80px;
	right: 2%;
}
.tech-4 {
	bottom: 6%;
	right: 8%;
}
.tech-5 {
	bottom: 4%;
	right: 22%;
}
.tech-6 {
	bottom: 15px;
	left: 12%;
}
.tech-7 {
	bottom: 45%;
	left: 3%;
}
.tech-8 {
	top: 4%;
	left: 10%;
}
.line {
	height: 2px;
	width: 100%;
	background-color: #282828;
}

/* ------------ Developers ------------ */
#developers {
	font-family: 'aeoniklight', sans-serif;
	font-size: 2rem;
	color: white;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.dev-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.developer {
	display: flex;
	position: relative;
	justify-content: center;
	max-width: 25vw;
	width: 19vw;
	margin: 10px;
}
.developer > img {
	width: 100%;
}
.dev-description {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 0;
	width: 100%;
	min-height: 25%;
	background: rgba(9, 7, 7, 0.4);
	backdrop-filter: blur(12.5px);
	padding: 20px 15px;
	overflow: hidden;
}
.dev-name {
	font-family: 'aeonikregular', sans-serif;
	font-size: 2rem;
	margin-bottom: 1rem;
}
.dev-specialty {
	font-family: 'aeoniklight', sans-serif;
	font-size: 1.4rem;
	display: grid;
	grid-template-columns: .5fr 3fr 1fr;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.dev-specialty > img:first-child {
	width: 1.8rem;
}
.dev-specialty > img:last-child {
	justify-self: end;
}
.dev-btn {
	width: 200px;
	margin: 30px auto;
}

/* ------------ Reviews ----------- */
#reviews {
	font-family: 'aeoniklight', sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	padding: 50px 0;
	flex-direction: column;
	justify-content: space-around;
}
.reviews-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 20px;
	width: 100%;
	margin: 50px 0;
}
.review {
	background-color: #1A1919;
	font-size: 1.4rem;
	padding: 30px 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.review > div {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.review img {
	margin-right: 15px;
}
.review-decor-div {
	position: relative;
	width: 100%;
	margin: 50px 0 100px 0;
}
.review-decor-div > img {
	width: 100%;
	filter: brightness(0.75);
}
.review-decor-div > div {
	font-family: 'aeonikbold', sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 30%;
	left: 8%;
}
.review-decor-div p:last-child {
	font-family: 'aeoniklight', sans-serif;
	font-size: 2rem;
}

/* ------------ Join ---------------- */
#join {
	font-family: 'aeoniklight', sans-serif;
	font-size: 2.2rem;
	background-color: #3775ED;
	width: 100%;
	padding: 40px 0;
	margin-bottom: 50px;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	min-height: 250px;
	text-align: center;
}
.join-title {
	font-family: 'aeonikbold', sans-serif;
	font-size: 5rem;
}
.join-section-btn {
	font-size: 1.4rem;
	background-color: #1A1919;
	color: white;
	border-radius: 6px;
	padding: 15px 55px;
	outline: none;
	border: none;
	cursor: pointer;
}
.join-section-btn:hover {
	background-color: black;
}

/* --------- Contact ----------- */
#contact {
	font-family: 'aeoniklight', sans-serif;
	font-size: 1.8rem;
	justify-content: space-between;
	min-height: 200px;
	width: 100%;
}
.social-links {
	display: flex;
}
.social-links div {
	border: 1px solid #C4C4C4;
	padding: 7px 8px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-links a {
	text-decoration: none;
	color: white;
	margin: 0 15px;
}


@media screen and (max-width: 1600px) {
	#developers {
		margin: 8rem auto 0 auto;
	}
}
@media screen and (max-width: 1360px) {
	body {
		max-width: 80vw;
	}
	#developers {
		margin: 0 auto;
	}
	.developer {
		max-width: 20vw;
		width: 18vw;
	}
	.dev-name {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.dev-specialty {
		font-size: 1.2rem;
	}
	.dev-specialty > img:first-child {
		width: 1.6rem;
	}
}
@media screen and (max-width: 1000px) {
	html {
		font-size: 8px;
	}
	.join-title {
		font-size: 3.5rem;
	}
	.technologies {
		max-width: 40px;
	}
}
@media screen and (max-width: 550px) {
	body {
		background: none;
		background-color: black;
		max-width: 100%;
	}
	#header-div {
		width: 95vw;
	}
	h2 {
		font-size: 2.5rem;	
	}
	.nav-menu {
		display: none;
	}
	.buttons-container {
		display: flex;
		flex-direction: column;
		width: 90vw;
		max-width: 90vw;
		justify-content: space-between;
	}
	.btn {
		font-size: 1.4rem;
		width: 100%;
		color: white;
		background-color: transparent;
		border: 1px solid white;
		border-radius: 6px;
		padding: 15px 45px;
		margin: 2rem;
		cursor: pointer;
	}
	#features {
		width: 95vw;
	}
	.websites-div {
		display: flex;
		flex-direction: column;
	}
	.website {
		width: 100%;
		margin: 10px 0;
	}
	.website > img {
		width: 35px;
	}
	.tools {
		font-size: 1.2rem;
		background-color: #1A1919;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 300px;
		text-align: center;
	}
	.tools h2 {
		margin-bottom: 20px;
	}
	.technologies {
		position: absolute;
		max-width: 20px;
	}
	.technologies img {
		max-width: 100%;
	}
	.tech-1 {
		top: 3%;
		right: 40%;
	}
	.tech-2 {
		top: 4%;
		right: 15%;
	}
	.tech-3 {
		top: 8%;
		right: 2%;
	}
	.tech-4 {
		bottom: 4%;
		right: 8%;
	}
	.tech-5 {
		bottom: 3%;
		right: 22%;
	}
	.tech-6 {
		bottom: 4%;
		left: 15%;
	}
	.tech-7 {
		bottom: 6%;
		left: 3%;
	}
	.tech-8 {
		top: 3%;
		left: 10%;
	}
	#developers {
		height: auto;
		width: 95vw;
		flex-direction: column;
		align-items: center;
		margin: 20px auto 0 auto;
	}
	.dev-container {
		flex-direction: column;
		width: 100%;
	}
	.developer {
		max-width: 100%;
		width: 100%;
		margin: 10px 0;
	}
	.dev-name {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
	.dev-specialty {
		font-size: 1.5rem;
	}
	.dev-specialty > img:first-child {
		width: 3rem;
	}
	.dev-btn {
		width: 50%;
	}
	#reviews {
		width: 95vw;
	}
	.reviews-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		grid-gap: 20px;
		width: 100%;
		margin: 50px 0;
	}
	.review {
		font-size: 1.8rem;
		padding: 15px 10px;
	}
	.review-decor-div {
		margin: 30px 0 50px 0;
	}
	.review-decor-div > div {
		font-size: 3rem;
		top: 20%;
		left: 5%;
	}
	#join {
		width: 95vw;
		margin: 0 auto 30px auto;
	}
	#contact {
		min-height: auto;
		width: 95vw;
		padding: 10px 0;
		margin: 0 auto;
	}
	.social-links a {
		margin: 0 5px;
	}
}