* {
  box-sizing: border-box;
}
html {
  --color-black: #292B2E; 
  --p: 30px;
}
body {
  --page-background: #212529;
  --text-color: #ffffff;
  --highlighted-text-color: #FFB742;

  background-color: var(--page-background);
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%; /* 10px */
  padding: 0;
}
main, header {
  margin: 0 3%;
}
p, h2, h3 {
  margin: 0;
}


/* ------Nav Bar---------- */
nav {
  display: flex;
  align-items: center;
  width: 100%;
}
#nav-menu {
  font-size: 1.8em;
  font-weight: 600;
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 3;
}
#nav-menu li {
  padding: .5em 1em 0 1em;
}
#nav-menu a {
  text-decoration: none;
  color: var(--text-color);
}
.btn {
  font-size: 1.8em;
  font-weight: 700;
  background-color: var(--highlighted-text-color);
  border: none;
  padding: 12px 26px;
  border-radius: 50px;
  cursor: pointer;
}
#nav-menu a:hover {
  color: var(--highlighted-text-color);
}


/* ----Introduction------ */
#intro {
  color: white;
  text-align: center;
  margin-top: 110px;
}
#intro > p:first-child {
  font-size: 3.2em;
  font-weight: 700;
  padding-bottom: 15px;
}
#intro a {
  color: var(--highlighted-text-color);
}
#intro > p:nth-child(2n) {
  font-size: 4.8em;
  font-weight: 700;
  padding-bottom: 15px;
}
#intro > p:last-of-type {
  font-family: 'Inter', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  padding-bottom: 15px;
}

/* ------Achievements--------- */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.card {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  width: 30%;
  background: var(--color-black);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--p) - 5px) var(--p);
  border-radius: 10px;
}
.card:hover{
  background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.card:hover p{
  color: var(--page-background);
}
.card-content > div:first-child {
  color: var(--highlighted-text-color);
  font-size: 3.2em;
  text-align: center;
  padding: 5px;
}
.card-content > div:nth-child(2n) {
  color: var(--text-color);
  font-size: 1.6em;
}


/*-----About Me-------*/
#about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 200px;
}
#about > img {
  width: 100%;
  max-width: 40%;
  height: auto;
}
#bio {
  margin-left: 30px;
}
.section-title {
  font-size: 2em;
  font-weight: 600;
  color: var(--highlighted-text-color);
  background-color: rgba(255, 255, 255, 0.08);
  padding: 5px 15px;
  border-radius: 50px;
  max-width: 168px;
  text-align: center;
}
.section-thesis {
  font-family: 'Roboto', sans-serif;
  font-size: 4.8em;
  color: var(--text-color);
  padding: 10px 0 20px 0;
}
#bio > p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2em;
  color: #D4D4D4;
  margin-bottom: 40px;
}

#my-skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
#my-skills p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2em;
  color: var(--text-color);
  margin: 20px 0 50px 0;
}
#my-skills > div:first-child {
  max-width: 40%;
}
#icons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  align-items: center;
  max-width: 45%;
}
.icon {
  width: 80px;
  height: 80px;
  flex: 0 1 12%;
  background-color: #383E45;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.icon:hover {
  background-color: rgba(255, 183, 66, 0.5);
}


/* ------Portfolio---------- */
#my-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
#my-works > ul {
  font-size: 1.6em;
  font-weight: 600;
  display: flex;
  list-style: none;
  justify-content: center;
}
#my-works li {
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 3px;
}
#my-works li:hover {
  background-color: var(--highlighted-text-color);
  color: var(--page-background)
}
.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.img-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}
.img-column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

/* --------Feedback--------- */
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.reviews {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.reviews img {
  padding: 15px;
}

/* ------Contact--------- */
footer {
  --footer-links-color: #7B7B7B;

  background-color: #1C1C1C;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 150px;
}
footer > div {
  font-family: 'Work Sans', sans-serif;
  padding: 50px 20px;
}
footer > div:first-child {
  color: #D4D4D4;
  font-size: 1.6em;
  font-weight: 600;
}
footer h3 {
  color: var(--highlighted-text-color);
  font-size: 32px;
  padding-bottom: 15px;
}
footer div p {
  font-size: 2.1em;
  font-weight: 700;
  color: var(--text-color);
  padding-bottom: 10px;
}
.links {
  list-style: none;
  padding: 0;
}
.links li {
  padding: 5px 0;
}
.links a {
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  color: var(--footer-links-color);
}
.links a:hover {
  color: var(--highlighted-text-color);
}
footer span {
  color: var(--footer-links-color);
  font-size: 1.8em;
  font-weight: 500;
}
