* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
  background-color: hsl(0, 0%, 90%);
}
.header {
  margin: 20px auto;
  font-size: 14px;
}
.output-container {
  display: flex;
  align-items: center;
}
.toggle-btn {
  cursor: pointer;
  background-color: lightseagreen;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.grid_item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid black;
  background-color: white;
}
/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 70px;
}
input {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}