* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(86,124,173,1) 100%);
}
.tabs {
  background-color: white;
  max-width: 800px;
  padding: 1.5rem;
  position: relative;
  top: 40%;
  border-radius: 0 10px 10px 10px;
  box-shadow: -4px 8px 30px 5px rgba(0,0,0,0.75);
}
.content {
  display: none;
}
.active {
  display: block;
}
h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.btn-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -40px;
  left: 0;
  height: 40px;
  max-width: 210px;
  width: 210px;
}
.btn {
  cursor: pointer;
  padding: 1rem;
  background-color: hsl(0, 0%, 60%);
  border: none;
  border-radius: 8px 8px 0 0;
  transition: all 0.2s linear;;
}
.btn:hover {
  background-color: hsl(0, 0%, 70%);
}
.btn-active:hover {
  background-color: white;
}
.btn-active {
  background-color: white;
}