@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  max-width: 1200px;
  font-size: 14px;
}
.main-container {
  background-color: #FFB084;
  width: 50vw;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 1.7rem;
  padding: 30px 40px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.section {
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-info {
  grid-area: 1 / 1 / 5 / 2;
  align-items: center;
  text-align: left;
  box-shadow: 7px 7px 0px #000000;
}
h1 {
  font-size: 24px;
}
.moto {
  grid-column: 1;
  font-weight: 700;
  box-shadow: 7px 7px 0px #000000;
}
.bio {
  grid-area: 1 / 2 / 3 / 4;
  box-shadow: 7px 7px 0px #000000;
}
.goals {
  grid-area: 3 / 2 / 4 / 3;
  box-shadow: 7px 7px 0px #29A71E;
}
.goals > p:first-child {
  color: #29A71E;
  margin-bottom: 5px;
}
.companies {
  grid-area: 4 / 2 / 6 / 3;
  box-shadow: 7px 7px 0px #3675B0;
}
.companies > p:first-child {
  color: #3675B0;
  margin-bottom: 5px;
}
.frustrations {
  grid-area: 3 / 3 / 5 / 4;
  box-shadow: 7px 7px 0px #E13535;
}
.frustrations > p:first-child {
  color: #E13535;
  margin-bottom: 5px;
}
.personality {
  grid-area: 5 / 3 / 6 / 4; 
  box-shadow: 7px 7px 0px #000000;
}
ul {
  list-style-position: inside;
}

@media screen and (max-width: 1024px) {
  .main-container {
    width: 80vw;
  }
}
@media screen and (max-width: 650px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
    "main-info"
    "moto"
    "bio"
    "goals"
    "companies"
    "frustrations"
    "personality";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100vw;
    min-height: 100vh;
    gap: 1.2rem;
    padding: 15px;
    border-radius: 0;
  }
  .main-info {
    grid-area: main-info;
  }
  .moto {
    grid-area: moto;
  }
  .bio {
    grid-area: bio;
  }
  .goals {
    grid-area: goals;
  }
  .companies {
    grid-area: companies;
  }
  .frustrations {
    grid-area: frustrations;
  }
  .personality {
    grid-area: personality;
  }
}
