* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 62.5%;
  background-color: #ccc;
}
.container {
  max-width: 70%;
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
}
.container > p {
  font-size: 1.4em;
  margin: 0;
}
h1 {
  font-size: 2.4em;
  margin-bottom: 3rem; 
}
h2 {
  font-size: 20px;
  margin: 10px 0;
}
form {
  font-size: 1.6em;
}
fieldset {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .7em;
}
.form-section-column {
  flex: 0 1 400px;
  margin: 10px 0;
  max-width: 400px;
}
label {
  font-weight: 500;
  padding-bottom: 8px;
}
label, input {
  display: block;
}
.red-star {
  color: red;
}
.optional-note {
  font-size: 14px;
}
.input-field {
  width: 100%;
  padding: 7px 4px;
  border-radius: 2px;
  border: 1px solid gray;
}
.input-right-arrow {
 background-image: url(./images/arrow-down.png);
 background-repeat: no-repeat;
 background-position: right;
}
.input-right-search {
  background-image: url(./images/search-icon.png);
 background-repeat: no-repeat;
 background-position: right;
}
#app-reg,
#owner {
  color: #0050D8;
}
.checkbox-column {
  font-size: .8em;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.checkbox-column2 {
  font-size: .8em;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex: 0 1 400px;
}
.btn-div {
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: #0050D8;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 0 30px 0;
  cursor: pointer;
}

/* ----------- Custom Checkbox ---------- */
.checkbox-label {
  cursor: pointer;
  display: flex;
}
.checkbox-input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkbox-label::before {
  content: '';
  width: 1.3em;
  height: 1.3em;
  border-radius: .15em;
  margin-right: .5em;
  border: .05em solid black;
}
.checkbox-label:hover::before,
.checkbox-input:hover {
  background-color: #ffb3ff;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: #FF00FF;
  content: '\002714';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .form-section-column {
    flex: 0 1 300px;
    max-width: 300px;
  }
  .checkbox-column {
    flex: 0 1 300px;
    max-width: 300px;
  }
}
@media (max-width: 950px) {
  .form-section {
  flex-wrap: wrap;
  }
}