* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
}
h1 {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #3E45E8;
    padding: 20px 0;
}
span {
    color: #E8C23E;
}
.banner {
    background-image: url('./images/main-img.jpg');
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-top: 10%;
}
.content {
    background-image: url('./images/flag.jpg');
    height: 272px;
    background-repeat: no-repeat;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    box-sizing: border-box;
    padding-left: 38px;
    width: 70%;
}
.main {
    padding: 10px 80px;
}
.main-title {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 10px;
}
.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}
.cards-div {
    margin: 20px 0;
    padding: 10px 0;
}
.card {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 33px;
    box-shadow: 0px 7px 30px 10px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
}
.card-img {
    width: 100%;
}
.card-title {
    font-size: 24px;
    font-weight: 700;
    padding: 3px 15px;
    box-sizing: border-box;
    color: #1E8DF2;
}
.card-text {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 2px 15px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.middle-card {
    margin: 0 4%;
}
.support-div {
    text-align: center;
}
.main-title2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}
.line2 {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: 0 auto;
}
.btn {
    width: 40%;
    display: block;
    padding: 10px 40px;
    font-size: 64px;
    font-weight: 700;
    color: white;
    background-color: #2A61F0;
    border: none;
    margin: 10px auto 20px;
    cursor: pointer;
}
footer {
    background-color: #2F4A4B;
    max-height: 320px;
    text-align: center;
}
.footer-title {
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
    font-size: 48px;
}
.links {
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.facebook {
    height: 75px;
}
.telegram {
    height: 60px;
}