body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%; /* 10px */
  background-color:  #FBE4FF;
}
nav {
  background-color: #243B93;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
#logo {
  max-height: 50px;
}
#nav-menu {
  display: flex;
  align-items: center;
  margin: 0 50px;
}
#nav-menu li {
  list-style: none;
  text-align: center;
  font-size: 1.6em;
  padding: 0 20px;
}
#nav-menu li a {
  color: white;
  text-decoration: none;
}
.globe-div {
  display: flex;
  align-items: center;
}
.globe-div p {
  font-size: 2.8em;
  color: white;
  padding-left: 10px;
}


main {
  position: absolute;
  top: 65px;  /* 65px is the height of the nav bar */
  width: 100%;
}
h2 {
  font-size: 4.4em;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  color: #243B93;
}
.section-titles {
  min-height: 85px;
  padding-left: 7.5%;
  /* 7.5% will always make it aligned because max-width of book-div set to 85% */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.book-title {
  background-color: #BFF0FF;
}
.book-div {
  margin: 0 auto;
  max-width: 85%;
}
#select-div {
  background-color: white;
  min-height: 57px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#select-div > p {
  font-size: 2.8em;
  color: rgba(0, 0, 0, 0.61);
  margin: 0;
}
#select-div > img {
  position: absolute;
  right: 10px;
}
.cards {
  margin: 30px auto;
}
.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to right, #ADCBD4, #00AEE5);
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 40px;
  max-width: 100%;
  position: relative;
}
.cards:last-child {
  margin-bottom: 0;
}
.card:hover {
  background: rgb(44, 189, 235);
  box-shadow: 0 0 20px 10px rgba(44, 189, 235, .5);
}
.location-img {
  margin-right: 30px;
}
.location-div {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  max-width: 50%;
}
.line {
  border-bottom: 3px solid white;
  width: 100%;
  margin-bottom: 10px;
}
.location-div h3 {
  color: #353C57;
  font-size: 3.6em;
  font-weight: 700;
  font-style: italic;
  margin: 0;
}
.location-description {
  font-size: 2.2em;
  font-weight: 400;
  background-color: #EDFBFF;
  height: 185px;
  padding: 10px;
  box-sizing: border-box;
}
.star {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url(./images/star.png);
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
}
.star:hover {
  background-image: url(./images/star-selected.png);
}
.btn {
  font-size: 2.4em;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #243B93;
}
.more-btn {
  position: absolute;
  padding: 10px 30px;
  bottom: 15px;
  right: -25px;
}
.more-btn:hover {
  background-color: #EF075B;
}

/* -------------- ОСОБИСТИЙ КАБІНЕТ------------- */
.account-title {
  background: linear-gradient(to right, #FFE601, #55D6FF);
}
.personal-info {
  margin: 40px auto 20px;
  max-width: 85%;
  background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, .5) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px;
}
.personal-info > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.personal-info > div:last-child p {
  font-size: 3.6em;
  font-weight: 700;
  font-style: italic;
  color: #353C57;
}
span {
  font-weight: 400;
}
.avatar-btn {
  padding: 10px 30px;
  margin: 50px 0 30px;
}
.settings-btn {
  font-size: 2.4em;
  color: white;
  background-color: #EF075B;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
#btn-div {
  text-align: center;
}
.log-out-btn {
  padding: 15px 50px;
  margin-bottom: 56px;
}

/* -------------- КОНТАКТИ ------------- */
.contacts-title {
  background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}
.contacts {
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}
.contacts > div:first-child {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}
.contacts-p1 {
  font-size: 3.2em;
  display: block;
  margin: 0;
}
.contacts-p2 {
  font-size: 3em;
  border-top: 2px solid #202846;
  margin: 0;
}
.contacts > div:last-child {
  display: flex;
  max-height: 290px;
  overflow: hidden;
  border: 3px solid #243B93;
  border-radius: 40px;
}
iframe {
  max-height: 500px;
}
.contacts-div {
  margin: 0 30px 30px 0;
}


#footer {
  background-color: #243B93;
  min-height: 65px;
  padding-left: 7.5%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: white;
}


#return-btn {
  background-color: rgba(48, 12, 106, 0.3);
  background-image: url(./images/btn-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 101px;
  width: 101px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
#return-btn:hover {
  background-color: rgba(48, 12, 106, 1);
}
