@font-face {
  font-family: Digital;
  src: url(./fonts/Digital7-rg1mL.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(238, 227, 178);
  position: relative;
}
.calculator {
  background: rgb(9, 5, 34);
  width: fit-content;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -11px 11px 28px 1px rgba(0,0,0,0.75);
}
.calculator__inp {
  font-family: Digital, sans-serif;
  width: 250px;
  background: rgb(33, 39, 34);
  text-align: right;
  height: 80px;
  color: white;
  font-size: 50px;
  margin: 1rem auto;
  border-radius: 3px;
}
.calculator__grid{
  font-family: sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 12px;
  margin-top: 10px;
}
.calculator__grid > div{
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
}
.wide-btn{
  grid-row: 5;
  grid-column: 1/3;
}
.number,
.dark-btn {
  background: gray;
}
.number:hover,
.wide-btn:hover,
.dark-btn:hover {
  background-color: hsl(0, 0%, 36%);
}
.sign,
.result {
  background: orange;
}
.sign:hover,
.result:hover {
  background-color: hsl(39, 100%, 35%);
}
.light-btn {
  background: lightgray;
  color: black;
}
.light-btn:hover {
  background-color: hsl(0, 0%, 63%);
}
.instructions {
  position: absolute;
  right: 8%;
  top: 10%;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  border: 4px solid gray;
  border-radius: 8px;
}
.instructions p {
  margin-top: .5rem;
  font-size: 1.3rem;
}
.instructions span {
  font-weight: 600;
  font-size: 1.4rem;
}
.instructions__container {
  position: relative;
  padding: 1.5rem 3rem;
}
.instructions__container > .close-btn {
  position: absolute;
  font-weight: 600;
  top: 1%;
  right: 3%;
  font-size: 1.7rem;
}
.close-btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .instructions {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 100vw;
    max-width: 100vw;
  }
  .calculator__inp {
    width: 95%;
  }
}