* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  --margin-left: 15rem;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
header {
  --main-margin: 22rem;
  background-color: #000000; 
  padding: 0 10rem 0 var(--margin-left);
  margin-bottom: 10rem;
}
nav {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  font-size: 3.6rem;
}
#nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.8rem;
}
#nav-menu li {
  padding: 0 20px;
}
#nav-menu a {
  text-decoration: none;
  color: white;
}
.header-div {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  min-height: 70vh;
  max-height: 75vh;
}
.header-text {
  max-width: 40vw;
  padding-right: 50px;
  align-self: center;
}
.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 6.4rem;
  line-height: 7.2rem;
}
.header-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #B2B2B2;
  margin-top: 50px;
}
.dot {
  color: #F6AD09;
}
.header-div > img {
  position: absolute;
  max-width: 39vw;
  max-height: 85vh;
  right: 0;
}
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}
.select-btn {
  padding: 20px 30px;
  background-color: #F6AD09;
}

/* ------------Catalog Section--------- */
#catalog-section h2 {
  margin: 5rem 0 5rem var(--margin-left);
}
.models {
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
.model {
  display: flex;
  flex-direction: column;
  max-width: 28vw;
}
.model-title {
  font-size: 3.2rem;
  font-weight: 600;
}
.model-title::before {
  content: '-';
  color: #F6AD09;
  font-size: 4rem;
}
.model-price {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #595959;
  padding-left: 25px;
}

/* ---------Technology Section----------- */
#technology-section {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 90vh;
  margin-top: 20rem;
}
.technology-text {
  padding-left: var(--margin-left);
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #B2B2B2;
  max-width: 52%;
}
.technology-text h2 {
  color: white;
  margin: 20px 0;
}
#technology-description {
  line-height: 3.6rem;
  margin: 20px 0;
}
#choose-model-title {
  color: #F6AD09;
  border-bottom: 4px solid #F6AD09;
}
.technology-features {
  display: flex;
  justify-content: space-between;
}
.tech-feature {
  max-width: 45%;
}
.tech-feature-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  color: white;
  margin: 30px 0 15px 0;
}
.tech-feature-title::before {
  content: '- ';
  color: #F6AD09;
  font-size: 2.4rem;
  font-weight: 600;
}
.tech-feature-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
#technology-section > img {
  max-height: 100vh;
  max-width: 40vw;
  margin-right: 70px;
}

/* ----------------Partners------------- */
#partners h2 {
  margin: 5rem 0 5rem var(--margin-left);
}
.partners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  max-width: 90vw;
  margin: 0 auto;
}
.partner {
  border: 2px solid #E0E0E0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner > img {
  padding: 30px;
  max-width: 100%;
}

/* ------------Feedback--------------- */
#feedback {
  display: flex;
  margin-top: 100px;
}
#feedback > img {
  width: 50vw;
}
.review {
  background-color: #F6AD09;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: end;
  padding: 0 0 100px 50px; 
}
.review > div {
  max-width: 80%;
}
.review-text {
  font-family: 'Merriweather', serif;
  font-size: 3.6rem;
  font-weight: 900;
  font-style: italic;
  line-height: 4.8rem;
  color: #332200;
}
.review-text::before,
.review-text::after {
  content: "\"";
  font-size: 5rem;
  color: hsl(42, 93%, 40%);
}
.review-author {
  font-size: 2.4rem;
  font-weight: 600;
  color: #664400;
}

/* --------Seguros----------- */
#seguros {
  background-color: #161616;
  padding-bottom: 50px;
}
#seguros > h2 {
  color: white;
  padding: 40px 0 40px var(--margin-left);
}
.price-comparison {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-card {
  background-color: black;
  color: white;
  padding: 2rem;
  margin: 1rem;
  max-width: 500px;
  border-radius: 7px;
  display: flex;
}
.price-title {
  font-size: 3.6rem;
  color: #9C9C9C;
  padding-bottom: 15px;
  padding-left: 15px;
}
.price-title.popular {
  color: #F6AD09;
}
.price-feature {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.price-feature::before {
  content: '- ';
  color: #F6AD09;
  font-size: 2.4rem;
  font-weight: 600;
}
.price-btn {
  color: white;
  background-color: #2E2E2E;
  padding: 10px 20px;
  margin-left: 15px;
}
.price-tag {
  font-size: 3.6rem;
  color: white;
  text-align: right;
}
.price-tag span {
  display: block;
  font-size: 1.2rem;
  color: #9C9C9C;
}

/* -------------Footer----------- */
footer {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #9C9C9C;
  padding: 5rem 10rem 5rem var(--margin-left);
}
.footer-container > div:first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer-titles {
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 25px;
}
.contact-div p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #B2B2B2;
  padding-top: 35px;
}
.info-div ul {
  list-style: none;
  padding-top: 35px;
}
.info-div a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #B2B2B2;
  text-decoration: none;
}
.info-div a:hover {
  color: #F6AD09;
}

.fa-brands {
  font-size: 2.8rem;
  color: white;
  padding: 15px 15px 0 0;
}
footer > p {
  font-size: 1.8rem;
  padding-top: 40px;
}

@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
  #technology-section {
    max-height: 100vh;
  }
}
@media (max-width: 1000px) {
  body {
    --margin-left: 8rem;
  }
  #technology-section > img {
    max-height: 100vh;
    max-width: 30vw;
    margin-right: 70px;
  }
  .review {
    align-items: center;
    justify-content: center;
    padding: 0; 
  }
  .section-title {
    font-size: 5.4rem;
    line-height: 6rem;
  }
}
@media (max-width: 800px) {
  header {
    margin-bottom: 0;
  }
  .section-title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  #technology-section {
    margin-top: 10rem;
  }
  .review-text {
    font-size: 3rem;
    line-height: 4rem;
  }
  footer {
    padding: 3rem 8rem 3rem var(--margin-left);
  }
}
@media (max-width: 670px) {
  html {
    font-size: 6px;
  }
  #technology-section > img {
    display: none;
  }
  .technology-text {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .select-btn {
    padding: 10px 15px;
  }
  .models {
    flex-direction: column;
    align-items: center;
  }
  .model {
    max-width: 50vw;
  }
  .price-comparison {
    flex-direction: column;
  }
}