* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Rosario', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
body {
  --nav-height: 129px;
  max-width: 100vw;
  overflow-x: hidden;
}

/* ------------ Header ----------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  height: var(--nav-height);
  max-height: 129px;
  top: 0;
  z-index: 10;
  overflow: hidden;
}
.logo-div {
  background-color: white;
  width: 13vw;
  max-height: 129px; 
}
.logo-div img {
  max-width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
}
.nav-menu li {
  list-style: none;
  padding: 0 30px;
}
.nav-menu a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  font-style: italic;
}

/* ------------ Gallery ------------- */
#gallery {
  display: grid;
  grid-template-areas: 
  "far-left mid-upper-left mid-upper-right far-right"
  "far-left mid-bottom-left mid-bottom-right far-right";
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: var(--nav-height) auto 0; 
  width: 90%;
  height: calc(100vh - var(--nav-height));
}
.img-div {
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.img-div img {
  width: 100%;
  max-width: 100%;
}
.far-left {
  grid-area: far-left;
  justify-self: flex-end;

  animation-name: left-load;
  transform: translateX(-200%);
}
.gallery-middle-upper-left {
  grid-area: mid-upper-left;
  align-self: flex-end;
  justify-self: flex-end;

  animation-name: left-load;
  transform: translateX(-200%);
}
.gallery-middle-bottom-left {
  grid-area: mid-bottom-left;
  align-self: flex-start;
  justify-self: flex-end;

  animation-name: left-load;
  transform: translateX(-200%);
}
.gallery-middle-upper-right {
  grid-area: mid-upper-right;
  align-self: flex-end;
  justify-self: flex-start;

  animation-name: right-load;
  transform: translateX(200%);
}
.gallery-middle-bottom-right {
  grid-area: mid-bottom-right;
  align-self: flex-start;
  justify-self: flex-start;

  animation-name: right-load;
  transform: translateX(200%);
}
.far-right {
  grid-area: far-right;
  justify-self: flex-start;

  animation-name: right-load;
  transform: translateX(200%);
}
.side-img {
  animation-delay: 1s;
}
/* ----------- Services ------------ */
#services {
  display: flex;
  justify-content: space-between;
  margin-top: var(--nav-height); 
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
.all-services {
  position: relative;
  width: 45%;
  text-align: center;
}
.type-of-service {
  position: absolute;
  width: 30%;
  font-size: 2.5rem;
  font-style: italic;

  animation-timing-function: ease-in-out;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.type-of-service img {
  width: 100%;
}
.top-left-circle {
  top: 10%;
  left: 10%;
  animation-name: top-left-circle;
}
.top-right-circle {
  top: 10%;
  left: 55%;
  animation-name: top-right-circle;
}
.bottom-right-circle {
  top: 55%;
  left: 55%;
  animation-name: bottom-right-circle;
}
.bottom-left-circle {
  top: 55%;
  left: 10%;
  animation-name: bottom-left-circle;
}
.right-image {
  width: 45%;
}
.right-image img {
  width: 100%;
}
.img-before {
  display: none;
}

/* ------------ Team ----------- */
#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--nav-height); 
  height: calc(100vh - var(--nav-height));
  width: 100vw;
}
#team > h2 {
  font-size: 5rem;
  margin: 20px 0 20px;
}
.team-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 100vw;
}
.team-div:hover > .team-member {
  filter: brightness(0.5);
}
.team-member {
  position: relative;
  max-width: 20vw;
  width: 20vw;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
  transition: filter 200ms linear;
  justify-self: center;
}
.team-div .team-member:hover {
  filter: brightness(1);
}
.team-member:hover .member-name {
  transform: translateY(-130px);
}
.team-member img {
  max-width: 100%;
}
.member-name {
  background-color: rgba(163, 83, 10, 0.7);
  color: white;
  font-family: 'Volkhov', serif;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 40px 0;
  bottom: -130px;
  transition: transform 200ms ease-in;
}

/* ----------- Contact ------------ */
#contact {
  display: flex;
  flex-direction: column;
  padding: 10px 0; 
  height: calc(100vh - var(--nav-height));
  width: 90%;
  max-width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}
.contact-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form-div {
  display: flex;
  justify-items: center;
  flex-direction: column;
  max-width: 50%;
}
.form-div > h2 {
  font-size: 5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
.form-div > form {
  background-color: #E5E5E5;
  padding: 20px;
}
.form-div fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}
.form-div input {
  font-family: 'Rosario', sans-serif;
  font-size: 2.5rem;
  border: none;
  padding: 10px;
  margin: 10px 10px 20px 0;
}
.form-div textarea {
  font-family: 'Rosario', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  width: 100%;
  border: none;
}
.map-div {
  max-width: 40%;
  overflow: hidden;
}
iframe {
  max-width: 500px;
}
.footer {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  font-size: 2rem;
}
.footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer p {
  font-weight: 600;
  font-style: italic;
}
.footer span {
  font-weight: 700;
  font-style: normal;
}
.footer h3 {
  padding-bottom: 10px;
}
.footer a {
  font-weight: 600;
  font-style: italic;
  color: black;
  text-decoration: none;
}

@keyframes left-load {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes right-load {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes top-left-circle {
  0%, 100% {
    top: 10%;
    left: 10%;
  }
  25% {
    top: 10%;
    left: 55%;
  }
  50% {
    top: 55%;
    left: 55%;
  }
  75% {
    top: 55%;
    left: 10%;
  }
}
@keyframes top-right-circle {
  0%, 100% {
    top: 10%;
    left: 55%;
  }
  25% {
    top: 55%;
    left: 55%;
  }
  50% {
    top: 55%;
    left: 10%;
  }
  75% {
    top: 10%;
    left: 10%;
  }
}
@keyframes bottom-right-circle {
  0%, 100% {
    top: 55%;
    left: 55%;
  }
  25% {
    top: 55%;
    left: 10%;
  }
  50% {
    top: 10%;
    left: 10%;
  }
  75% {
    top: 10%;
    left: 55%;
  }
}
@keyframes bottom-left-circle {
  0%, 100% {
    top: 55%;
    left: 10%;
  }
  25% {
    top: 10%;
    left: 10%;
  }
  50% {
    top: 10%;
    left: 55%;
  }
  75% {
    top: 55%;
    left: 55%;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 10px;
  }
  body {
    --nav-height: 100px;
  }
  .gallery-middle-div {
    width: 23vw;
  }
  .team-member {
    width: 20vw;
  }
  .form-div > h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 8px;
  }
  .logo-div {
    width: 15vw;
  }
  .gallery-middle-div {
    width: 30vw;
  }
  .form-div {
    max-width: 40vw;
  }
}
@media screen and (max-width: 1024px) {
  #gallery {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-div {
    max-width: 40vw;
  }
  .form-div input,
  .form-div textarea {
    font-size: 1.8rem;
  }
  .map-div {
    max-width: 30vw;
    max-height: 30vw;
  }
}
@media screen and (max-width: 992px) {
  .nav-menu li {
    padding: 0 15px;
  }
  #gallery {
    height: auto;
    grid-template-areas: 
    "far-left far-right"
    "mid-upper-left mid-upper-right"
    "mid-bottom-left mid-bottom-right";
  }
  .img-div {
    width: 30vw;
  }
  .side-img {
    animation-delay: 0s;
  }
  #services {
    flex-direction: column;
    height: auto;
  }
  .all-services {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
  }
  .type-of-service {
    width: 20%;
  }
  .right-image {
    max-width: 100vw;
    width: 100vw;
  }
  .img-before {
    display: block;
  }
  .img-after {
    display: none;
  }
  #team {
    height: auto;
  }
  .team-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .team-member {
    width: 25vw;
    max-width: 25vw;
    justify-self: center;
  }
  #contact {
    align-items: center;
    height: auto;
  }
  .contact-div {
    flex-direction: column;
    align-items: center;
  }
  .form-div {
    max-width: 70vw;
    max-height: 70vw;
  }
  .map-div {
    max-width: 70vw;
    max-height: 70vw;
    margin-top: 20px;
  }
  .footer {
    width: 100%;
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  body {
    --nav-height: 80px;
  }
  .logo-div {
    width: 30vw;
  }
  nav {
    justify-content: center;
  }
  .nav-menu {
    display: none;
  }
  #gallery {
    width: 100vw;
    grid-template-areas: 
    "far-left"
    "far-right"
    "mid-upper-left" 
    "mid-upper-right"
    "mid-bottom-left"
    "mid-bottom-right";
    gap: 10px;
    padding: 10px 0;
  }
  /* Delay to make images appear succesively */
  .far-right {
    animation-delay: 500ms;
  }
  .gallery-middle-upper-left {
    animation-delay: 1000ms;
  }
  .gallery-middle-upper-right {
    animation-delay: 1500ms;
  }
  .gallery-middle-bottom-left {
    animation-delay: 2000ms;
  }
  .gallery-middle-bottom-right {
    animation-delay: 2500ms;
  }
  .img-div {
    width: 90%;
    justify-self: center;
    align-self: center;
  }
  .img-before {
    display: none;
  }
  .type-of-service {
    width: 30%;
  }
  #team {
    margin-top: 0;
  }
  .team-div {
    grid-template-columns: 1fr;
  }
  .team-member {
    width: 90%;
    max-width: 90%;
    justify-self: center;
    align-self: center;
  }
  .team-member img {
    width: 100%;
  }
  #contact {
    width: 100vw;
    height: auto;
  }
  .contact-div {
    width: 90%;
    max-width: 90%;
  }
  .form-div,
  .map-div {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .form-div fieldset {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer > div {
    margin-top: 10px;
  }
}