@font-face {
  font-family: 'StarWars';
  src: url(../public/Starjedi.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #272b30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: 'StarWars', sans-serif;
  text-align: center;
  margin: 1rem;
  color: #FFE300;
  font-size: 3rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 90vw;
  max-width: 100vw;
  margin: 0 auto;
}
.character-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  background-color: burlywood;
}
.character-container {
  background-color: beige;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}
.stats {
  margin: 1rem 0;
}
.character-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.character-card a:hover {
  color: hsl(0, 0%, 50%);
}

@media screen and (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}