* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 67%);
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 600px;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
}
form label {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
form input, form option, form select {
  font-size: 1rem;
  width: 200px;
  max-width: 200px;
}
.btn {
  background-color: hsl(120, 73%, 55%);
  padding: .4rem;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: lightgreen;
}
.show-btn {
  background-color: rgb(62, 62, 226);
  padding: .6rem 1rem;
}
.show-btn:hover {
  background-color: white;
}
.salary-btn {
  background-color: hsl(120, 73%, 55%);
  padding: .6rem 1rem;
  margin: 0 1rem;
}
.salary-btn:hover {
  background-color: lightgreen;
}
.select-sort {
  font-size: 1rem;
}

.workers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}
.worker {
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
}